body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.background-image {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('images/background/backgroundBlurredInvertedNav.png');
    background-size: cover;
    background-position: center;
    gap: 27px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 36px;
    z-index: 1008;
    background-color: rgba(0, 0, 0, 0.9);
    transition: opacity 0.3s ease;
    opacity: 1;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    transition: color 0.3s ease;
}

.nav-links li {
    margin: 0;
    padding-right: 10px;
}

.nav-links a:hover {
    color: #00bcd4;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}


.logo img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}


.logo img:hover {
    transform: scale(1.1);
}

.profile-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding: 0 50px;
    color: white;
}

.profile-info {
    max-width: 500px;
    text-align: left;
    line-height: 1.5;
    font-family: 'Arial', sans-serif;
}

.profile-info h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.student-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #c0c0c0;
    font-style: italic;
}

.university {
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-icons a img:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.profile-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 0 50px;
    box-sizing: border-box;
}

.profile-info {
    flex: 1;
    text-align: left;
    color: white;
}

.photo-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.photo-profil {
    width: auto;
    height: 80%;
    object-fit: cover;
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}


.Experiences h1 {
    color: white;
    font-size: 400%;
    text-align: center;
    margin-bottom: 35px;
}

.worldMapImage {
    position: relative;
    text-align: center;
    width: 100%;
}

.worldMap {
    width: 85%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.country-icon {
    position: absolute;
    width: 5%;
    height: auto;
    transform: translate(-50%, -50%);
}

.country-icon img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.country-icon:hover img {
    transform: scale(1.2);
}

.tooltip {
    display: none;
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.9em;
    text-align: center;
    line-height: 1.5;
    z-index: 10;
    width: max-content;
    max-width: 200px;
}

.country-icon:hover .tooltip {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
